/**@media only screen and (max-width:)*/
@media only screen and (max-width: 1300px) {
  .banner h2 {
    font-size: 105px;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 1248px) {
  .banner h2 {
    font-size: 95px;
    padding: none;
    margin: none;
  }
  .left-div1 {
    width: 90%;
    clear: both;
    position: relative;
    /* left: 15%; */
  }
  .right-div2 {
    width: 90%;
    clear: both;
    margin-top: 20px;
    position: relative;
    /* left: -15%; */
  }
  .main-pic {
    height: 2140px;
  }
  .social-icon {
    position: relative;
    left: -5%;
  }
  .main-pic header {
    margin-left: 20px;
  }
}
/*!@media only screen and (max-width:)*/
@media only screen and (max-width: 1157px) {
  .left-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 14%;
    margin-right: 15%;
    margin-bottom: 20px;
    position: relative;
    /* left: 19%; */
  }
  .right-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 16%;
    margin-top: 30px;
    position: relative;
    /* left: -21%; */
  }
  .two-div {
    height: 1570px;
  }
  .two-div {
    height: 1670px;
  }
  .main-pic {
    height: 2190px;
  }
  .left-div1 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 14%;
    margin-right: 15%;
    margin-bottom: 20px;
    position: relative;
    /* left: 15%; */
  }
  .right-div2 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 16%;
    position: relative;
    /* left: -15%; */
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 1145px) {
  .left-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 14%;
    margin-right: 15%;
    margin-bottom: 20px;
    position: relative;
    /* left: 19%; */
  }
  .right-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 16%;
    margin-top: 30px;
    position: relative;
    /* left: -21%; */
  }
  .two-div {
    height: 1570px;
  }
  .two-div {
    height: 1670px;
  }
  .main-pic {
    height: 2190px;
  }
  .left-div1 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 14%;
    margin-right: 15%;
    margin-bottom: 20px;
    position: relative;
    /* left: 15%; */
  }
  .right-div2 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 16%;
    position: relative;
    /* left: -15%; */
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 1115px) and (min-width: 970px) {
  .full-wrapper {
    width: 100%;
    height: 444px;
  }
  .left-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    /* left: 25%; */
  }
  .right-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: -28%;
    margin-right: 15%;
    margin-top: 30px;
    position: relative;
    /* left: -25%; */
  }
  .left-div1 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    /* left: 25%; */
  }
  .right-div2 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: -28%;
    margin-right: 15%;
    margin-top: 20px;
    position: relative;
    /* left: -25%; */
  }
  .main-pic {
    height: 1740px;
  }
  .main-pic header {
    width: 60%;
    position: relative;
    left: 230px;
  }
  .social-icon {
    position: relative;
    left: -9%;
  }
  .text {
    width: 60%;
    padding-bottom: 20px;
    position: relative;
    left: 250px;
  }
  .text hr {
    width: 35%;
  }
  .banner h2 {
    font-size: 82px;
  }
  .two-div {
    height: 1670px;
  }
  .main-pic {
    height: 2190px;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 970px) {
  .left-div {
    width: 70%;
    clear: both;
    margin-left: 8%;
    margin-right: 20px;
    /* left: 20%; */
  }
  .right-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 6%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 70%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: 1%;
  }
  .right-div2 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 8%;
    position: relative;
    left: -16%;
  }
  .two-div {
    height: 1670px;
  }
  .main-pic {
    height: 2140px;
  }
  .social-icon {
    position: relative;
    left: -19%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 900px) {
  .left-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 6%;
    margin-right: 20px;
    /* left: 20%; */
  }
  .right-div {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 10%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 70%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: 1%;
  }
  .right-div2 {
    width: 70%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 11%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .two-div {
    height: 1670px;
  }
  .main-pic {
    height: 2140px;
  }
  .social-icon {
    position: relative;
    left: -25%;
  }
  .text {
    width: 60%;
  }
  .main-pic header {
    width: 60%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 855px) {
  .left-div {
    width: 60%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    margin-right: 20px;
    /* left: 20%; */
  }
  .right-div {
    width: 60%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 17%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 60%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: 1%;
  }
  .right-div2 {
    width: 60%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 16%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .two-div {
    height: 1670px;
  }
  .main-pic {
    height: 2040px;
  }
  .social-icon {
    position: relative;
    left: -25%;
  }
  .text {
    width: 60%;
  }
  .main-pic header {
    width: 60%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 770px) {
  .left-div {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    margin-right: 20px;
    /* left: 20%; */
  }
  .right-div {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 22%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: 1%;
  }
  .right-div2 {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 23%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .two-div {
    height: 1570px;
  }
  .main-pic {
    height: 1840px;
  }
  .social-icon {
    position: relative;
    left: -35%;
  }
  .text {
    width: 50%;
  }
  .main-pic header {
    width: 50%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 714px) {
  .full-wrapper {
    height: 300px;
  }
  .left-div {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 25%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 55%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 26%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1570px;
  }
  .main-pic {
    height: 1840px;
  }
  .social-icon {
    position: relative;
    left: -45%;
  }
  .text {
    width: 45%;
  }
  .main-pic header {
    width: 45%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 699px) {
  .full-wrapper {
    height: 300px;
  }
  .banner h2 {
    font-size: 60px;
  }
  .banner p {
    width: 600px;
    text-align: center;
    margin-left: 60px;
  }
  .left-div {
    width: 50%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 50%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 28%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 50%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 50%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 29%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1470px;
  }
  .main-pic {
    height: 1740px;
  }
  .social-icon {
    position: relative;
    left: -49%;
  }
  .text {
    width: 45%;
  }
  .main-pic header {
    width: 45%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 640px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 60px;
  }
  .banner p {
    text-align: center;
    margin-left: 20px;
  }
  .left-div {
    width: 45%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 45%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 33%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 45%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 45%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 34%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1470px;
  }
  .main-pic {
    height: 1640px;
  }
  .social-icon {
    position: relative;
    left: -55%;
  }
  .text {
    width: 40%;
  }
  .main-pic header {
    width: 40%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 600px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 60px;
  }
  .banner p {
    width: 400px;
    text-align: center;
    margin-left: 110px;
  }
  .left-div {
    width: 40%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 40%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 38%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 40%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 40%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 38%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1370px;
  }
  .main-pic {
    height: 1540px;
  }
  .social-icon {
    position: relative;
    left: -55%;
  }
  .text {
    width: 40%;
  }
  .main-pic header {
    width: 40%;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 540px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 60px;
  }
  .banner p {
    width: 400px;
    text-align: center;
    margin-left: 95px;
  }
  .left-div {
    width: 35%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 35%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 43%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .left-div button {
    position: relative;
    left: -98px;
  }
  .right-div button {
    position: relative;
    left: -98px;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 35%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 35%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 44%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1370px;
  }
  .main-pic {
    height: 1380px;
  }
  .social-icon {
    position: relative;
    left: -74%;
  }
  .text {
    width: 30%;
    margin-left: 32px;
  }
  .main-pic header {
    width: 30%;
    margin-left: 32px;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 480px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 50px;
  }
  .banner p {
    width: 400px;
    text-align: center;
    margin-left: 70px;
  }
  .left-div {
    width: 30%;
    clear: both;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 30%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 48%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .left-div button {
    position: relative;
    left: -120px;
    width: 150px;
  }
  .right-div button {
    position: relative;
    left: -120px;
    width: 150px;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 30%;
    clear: both;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 30%;
    clear: both;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 49%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1470px;
  }
  .main-pic {
    height: 1280px;
  }
  .social-icon {
    position: relative;
    left: -90%;
  }
  .text {
    width: 30%;
    position: relative;
    left: 38px !important;
  }
  .main-pic header {
    width: 30%;
    margin-left: 25px;
    position: relative;
    left: 38px !important;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 432px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 50px;
  }
  .banner p {
    width: 400px;
    text-align: center;
    margin-left: 29px;
  }
  .left-div {
    width: 30%;
    clear: both;
    margin-top: -30px;
    margin-left: 6%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 30%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 50%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .left-div button {
    position: relative;
    left: -120px;
    width: 150px;
  }
  .right-div button {
    position: relative;
    left: -120px;
    width: 150px;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  .main-pic header {
    position: relative;
    left: 85px;
  }
  .left-div1 {
    width: 30%;
    clear: both;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 30%;
    clear: both;
    margin-top: -20px;
    margin-left: 4%;
    margin-right: 51%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1370px;
  }
  .main-pic {
    height: 1190px;
  }
  .social-icon {
    position: relative;
    left: -105%;
  }
  .text {
    width: 30%;
    position: relative;
    left: 29px !important;
    top: -50px;
  }
  .main-pic header {
    width: 30%;
    margin-left: 25px;
    position: relative;
    left: 29px !important;
    top: -50px;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 360px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 40px;
  }
  .banner p {
    width: 300px;
    text-align: center;
    margin-left: 29px;
  }
  .left-div {
    width: 25%;
    clear: both;
    margin-top: -30px;
    margin-left: 5%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 25%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 56%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .left-div button {
    position: relative;
    left: -190px !important;
    width: 80%;
  }
  .left-div p.top-pera {
    width: 65%;
    text-align: center;
    margin-left: 50px;
  }
  .left-div p.pot-pera {
    width: 65%;
    text-align: justify;
    padding-top: -20px;
  }
  .right-div button {
    position: relative;
    left: -190px !important;
    width: 80%;
  }
  .right-div p.top-pera {
    width: 65%;
    text-align: center;
    margin-left: 50px;
  }
  .right-div p.pot-pera {
    width: 65%;
    text-align: justify;
    padding-top: -20px;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  .text hr {
    width: 50%;
  }
  /* .main-pic header {
    position: relative;
    left: 75px ;
  } */
  .left-div1 {
    width: 25%;
    clear: both;
    margin-top: -30px;
    margin-left: 4%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 25%;
    clear: both;
    margin-top: -20px;
    margin-left: 4%;
    margin-right: 57%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1470px;
  }
  .main-pic {
    height: 1090px;
  }
  .social-icon {
    position: relative;
    left: -138%;
  }
  .text {
    width: 25%;
    text-align: center;
    position: relative;
    top: -55px;
    left: -1px !important;
  }
  .main-pic header {
    width: 25%;
    text-align: center;
    position: relative;
    top: -55px;
    left: 10px !important;
  }
}
/*?@media only screen and (max-width:)*/
@media only screen and (max-width: 330px) {
  .full-wrapper {
    height: 300px;
    background-size: cover;
    background-position: right center;
  }
  .banner h2 {
    font-size: 30px;
  }
  .banner p {
    width: 300px;
    text-align: center;
    margin-left: 19px;
  }
  .left-div {
    width: 25%;
    clear: both;
    margin-top: -30px;
    margin-left: 4%;
    margin-right: 30%;
    position: relative;
    left: -2%;
  }
  .right-div {
    width: 25%;
    clear: both;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 57%;
    margin-bottom: 25px;
    position: relative;
    left: -16%;
  }
  .left-div button {
    position: relative;
    left: -190px !important;
    width: 80%;
  }
  .left-div p.top-pera {
    width: 65%;
    text-align: center;
    margin-left: 50px;
  }
  .left-div p.pot-pera {
    width: 65%;
    text-align: justify;
    padding-top: -20px;
  }
  .right-div button {
    position: relative;
    left: -190px !important;
    width: 80%;
  }
  .right-div p.top-pera {
    width: 65%;
    text-align: center;
    margin-left: 50px;
  }
  .right-div p.pot-pera {
    width: 65%;
    text-align: justify;
    padding-top: -20px;
  }
  .banner-center {
    background-attachment: scroll;
  }
  .text,
  .main-pic header {
    width: 60%;
    position: relative;
    top: -10px;
    left: 40px;
  }
  .text hr {
    width: 50%;
  }
  /* .main-pic header {
        position: relative;
        left: 75px ;
      } */
  .left-div1 {
    width: 25%;
    clear: both;
    margin-top: -30px;
    margin-left: 2.7%;
    margin-right: 6%;
    position: relative;
    top: -30px;
    left: -2%;
  }
  .right-div2 {
    width: 25%;
    clear: both;
    margin-top: -20px;
    margin-left: 4%;
    margin-right: 58.5%;
    margin-bottom: 25px;
  }
  .two-div {
    height: 1470px;
  }
  .main-pic {
    height: 990px;
  }
  .social-icon {
    position: relative;
    left: -155%;
  }
  .text {
    width: 25%;
    text-align: center;
    position: relative;
    top: -55px;
    left: -1px !important;
  }
  .main-pic header {
    width: 25%;
    text-align: center;
    position: relative;
    top: -55px;
    left: 10px !important;
  }
}
